@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    font-size: 69%;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #e7edf4;
}

a{
    text-decoration: none;
    color: black;
}

a:visited{
    color: black;
}

/* --- NavBar --- */

.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    z-index: 1000;
    background: #fff;
    box-shadow: 0 2px 9px rgb(92, 92, 92);
}

.left-nav, .right-nav{
    display: flex;
    align-items: center;
}

.left-nav i{
    padding: 0px 20px;
    font-size: 2rem;
}

.right-nav ul{
    font-size: 1.2rem;
    padding: 0 25px;
    font-weight: 400;
    transition: .5s;
}

.right-nav ul:hover{
    transform: scale(1.1);
    color: rgb(89, 8, 164);
}

/* --- Left-Section --- */

.lang-container{
    position: absolute;
    left: 0;
    display: flex;
    flex-direction: column;
    padding: 120px 35px;
    width: 22%;
    height: 100%;
    background: #122a38;
    color: whitesmoke;
}

.extra-features, .languages ul{
    font-size: 1.2rem;
}

.extra-features{
    margin-bottom: 30px;
    padding: 20px 10px;
    border-bottom: 1px solid white;
}

.extra-features ul, .languages ul{
    margin-bottom: 15px;
    color: rgb(209, 208, 208);
    width: 40%;
    transition: .4s;
}

.extra-features ul:hover, .languages ul:hover{
    transform: scale(1.05);
    color: white;
}

.languages{
    padding: 0px 15px;
}

.languages h2{
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 20px;
    color: white;
}


/* --- Quiz modes and category content --- */

.blockchain{
    position: absolute;
    right: 0;
    width: 78%;
    height: 80%;
    padding: 30px 50px;
}

.blockchain h2{
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 30px;
    text-transform: uppercase;
}

.blockchain p{
    font-size: 1.1rem;
    font-weight: 400;
    margin-bottom: 20px;
    line-height: 1.5;
}

.quiz-levels{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.quiz-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 20px 0;
    width: 80%;
    height: 100%;
    text-align: center;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 9px rgb(92, 92, 92);
}

.img{
    font-size: 3rem;
    flex: 10%;
    color: black;
}

.level-content{
    flex: 50%;
    margin-left: 50px;
    font-size: 1.6rem;
}

.start-quiz{
    flex: 20%;
}

.start-button{
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    outline: none;
    background: black;
    color: white;
    font-size: 1.1rem;
    font-weight: 600;
    cursor: pointer;
    transition: .5s;
}

.start-button:hover{
    background: rgb(75, 3, 142);
    box-shadow: 3px 2px 5px rgb(135, 134, 134);
}
